extend templates/master

block pagecontent
    include partials/filter
    h2.section-header I challenge myself to&hellip;
    section.challenges
        -each val in locals.challenges
            +challengecard(val)
