extend templates/master

block pagecontent
    include partials/filter
    section.challenges
        h2.section-header I challenge myself to&hellip;
        .challenges-inner
            -each val in locals.challenges
                +challengecard(val)
