extend templates/master

block pagecontent
    h2.section-header Kindness map
    #map

append scripts
    script(
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrwpa0DgiTlKffUcoqNNg6CeG5PvYzZsU&callback=initMap")

