extend templates/master

block vars
    -var viewclass = 'map';

block pagecontent
    .pagehead
        h2.section-header Kindness map
        p.kindness-meter
            strong.kindness-meter-int 500
            | &nbsp;people in 50 locations are being kind to one another.
            | &nbsp;
            a.btn(role='button' href='./') Join them now!
    .layoutwrap
        #map

append scripts
    script(
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrwpa0DgiTlKffUcoqNNg6CeG5PvYzZsU&callback=initMap")

