/**
 * Challenge card
 */

@keyframes shake{
    from{
        transform: rotate(5deg);
    }
    to{
        transform: rotate(-5deg);
    }
}

.challenges{
    position: relative;
    padding: 4rem 0;
    background-color: color('bubble');
    &:before{
        @include triangle('bottom',$plum,2rem);
        position: absolute;
        top: 0;
        left: 50%;
    }
    &-inner{
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        width: auto;
        max-width: 120rem;
        margin: auto;
    }
    .section-header{
        padding: {
            right: 2rem;
            left: 2rem;
        };
        color: $plum;
    }
}
.challengecard{
    $i: 0;
    position: relative;
    flex: 1 1 40rem;
    padding: 2rem;
    .accepted{
        @include setsize(4rem);
        position: absolute;
        top: 2rem;
        right: 2rem;
        display: block;
        border-radius: 100%;
        color: color(white);
        line-height: 4rem;
        text-align: center;
    }
    &-inner{
        margin: auto;
    }
    &-author{
        position: relative;
        padding-bottom: 2rem;
        padding-right: 2rem;
        text-align: right;
        &:after{
            @include triangle('top', color(bubble), 1rem);
            position: absolute;
            bottom: 0;
            right: 4rem;
        }
        > *{
            display: inline-block;
            vertical-align: middle;
        }
        p{
            margin: 0;
            max-width: calc(100% - 8rem);
        }
        &-avatar{
            @include setsize(6rem);
            margin: 0 0 0 1rem;
            border: .2rem solid;
            border-radius: 1rem;
        }
    }
    &-content{
        position: relative;
        padding: 2rem;
        border-radius: 1rem;
        overflow: hidden;
        background-color: color(white);
        &.state--accepted{
            .challengecard-header{
                padding-right: 7rem;
            }
            .challengecard-cta{
                cursor: default;
            }
        }
    }
    &-cta{
        @include setsize(100%);
        @include font('emphasized');
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        border-radius: 1rem;
        color: color(white);
        text-decoration: none;
        transform: translateY(100%);
        transition: .2s ease;
        span{
            margin: auto;
        }
        &:hover{
            color: color(white);
            text-decoration: none;
        }
    }
    &-header{
        margin: -2rem -2rem 0;
        padding: 2rem;
        color: color(white);
        h2{
            @include font(emphasized);
            margin: 0 0 .5em;
        }
        p{
            margin-bottom: 0;
            font-weight: bold;
        }
    }
    &-meta{
        margin: 0 -2rem 1rem;
        padding: 1rem 2rem;
        border-bottom: .2rem solid;
        list-style: none;
        li{
            display: inline-block;
            margin: 0 1rem 0 0;
            font-weight: bold;
            &:before{
                font-size: 1.2em;
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }
    @each $colour in $brandrhythm{
        $listlen : length($brandrhythm);
        &:nth-child(#{$listlen}n + #{$i}){
            .challengecard-header{
                background: $colour;
            }
            .accepted{
                background: darken($colour,10%);
                box-shadow:
                    inset 0 .2rem 0 darken($colour,20%),
                    0 .1rem 0 color(white);
            }
            .challengecard-author{
                &:after{
                    border-bottom-color: $colour;
                }
                &-avatar{
                    border-color: $colour;
                }
            }
            .challengecard-meta{
                border-bottom-color: $colour;
                [class^='icon']:before{
                    color: darken( $colour, 20% );
                }
            }
            .challengecard-content{
                box-shadow:
                    0 0 0 .1rem $colour,
                    0 .4rem 0 0 darken( $colour, 20% );
            }
            .challengecard-cta{
                background-color: fade-out($colour,.2);
                text-shadow: 0 .2rem 0 fade-out($colour,.2);
            }
        }
        $i: $i + 1;
    }
    &:hover{
        .challengecard-author-avatar{
            animation: shake .1s infinite;
        }
        .challengecard-cta{
            transform: translateY(0);
        }
    }
}
