/**
 * Challenge card
 */

@keyframes shake{
    from{
        transform: rotate(5deg);
    }
    to{
        transform: rotate(-5deg);
    }
}

.challenges{
    position: relative;
    padding: 4rem 0;
    background-color: color('bubble');
    &:before{
        @include triangle('bottom',$plum,2rem);
        position: absolute;
        top: 0;
        left: 50%;
    }
    &-inner{
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        width: 100%;
    }
    .section-header{
        padding: {
            right: 2rem;
            left: 2rem;
        };
        color: $plum;
    }
}
.challengecard{
    $i: 0;
    flex: 1 1 40rem;
    padding: 2rem;
    &-inner{
        margin: auto;
    }
    &-author{
        position: relative;
        padding-bottom: 2rem;
        padding-right: 2rem;
        text-align: right;
        &:after{
            @include triangle('top', color(bubble), 1rem);
            position: absolute;
            bottom: 0;
            right: 4rem;
        }
        > *{
            display: inline-block;
            vertical-align: middle;
        }
        p{
            margin: 0;
            max-width: calc(100% - 8rem);
        }
        &-avatar{
            @include setsize(6rem);
            margin: 0 0 0 1rem;
            border: .2rem solid;
            border-radius: 1rem;
        }
    }
    &-content{
        padding: 2rem;
        border-radius: 1rem;
        overflow: hidden;
    }
    &-title{
        @include font(emphasized);
        margin: 0 0 .5em;
        color: color('bubble');
    }
    &-footer{
        padding-top: 2rem;
    }
    &-cta{
        padding: 1rem 2rem;
        border-radius: .5rem;
        background: color('bubble');
        text-decoration: none;
    }
    @each $colour in $brandrhythm{
        $listlen : length($brandrhythm);
        &:nth-child(#{$listlen}n + #{$i}){
            .challengecard-title{
                margin: -2rem -2rem 2rem;
                padding: 2rem;
                background: darken( $colour, 30% );
            }
            .challengecard-author{
                &:after{
                    border-bottom-color: darken( $colour, 30% );
                }
                &-avatar{
                    border-color: $colour;
                }
            }
            .challengecard-content{
                background-color: $colour;
                color: darken( $colour, 30% );
                box-shadow:
                    0 0 0 .1rem darken( $colour, 30% ),
                    0 .4rem 0 0 darken( $colour, 30% );
            }
            .challengecard-cta{
                background-color: darken( $colour, 30% );
                color: $colour;
            }
        }
        $i: $i + 1;
    }
    &:hover{
        .challengecard-author-avatar{
            animation: shake .1s infinite;
        }
    }
}
