@import url("https://fonts.googleapis.com/css?family=Arvo:400,700,400italic");

*,
*:before,
*:after {
	box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

nav ul,
nav ol {
	margin: 0;
	list-style: none;
}

nav li {
	margin: 0;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

a {
	background: transparent;
}

a:focus {
	outline: thin dotted;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

hr {
	box-sizing: content-box;
	height: 0;
}

code,
kbd,
pre,
samp {
	font-family: monospace, serif;
	font-size: 1em;
}

pre {
	white-space: pre-wrap;
}

q {
	quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
}

.touch input,
.touch textarea,
.touch select {
	font-size: 16px !important;
}

button,
input {
	line-height: normal;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 140%;
	line-height: 1.5em;
	font-family: "arvo",sans-serif;
	color: #333;
}

p,
li,
dt,
dd,
input,
textarea,
button {
	line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.3em;
	font-family: "arvo",sans-serif;
	margin: 1em 0 .5em;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: 1em;
}

p {
	margin: 0 0 1em 0;
}

hr {
	height: 0;
	margin: 0 0 1em 0;
	padding: 0;
	border: none;
	border-top: 1px solid gray;
}

blockquote {
	margin: 0 0 1em 3em;
}

blockquote>p {
	margin-bottom: .60em;
	font-size: 1.4em;
}

blockquote>p:first-child:before {
	content: '\201C';
}

blockquote>p:first-child:after {
	content: '\201D';
}

blockquote footer p {
	margin: -.5em 0 0 0;
	font-size: .85em;
	font-style: italic;
}

blockquote footer p:before {
	content: '-';
}

q {
	color: inherit;
	font-style: italic;
}

cite {
	font-style: italic;
}

ul,
ol,
dl {
	margin: 0 0 1em 2em;
	padding: 0;
}

li {
	margin: 0 0 .25em 0;
}

ul {
	list-style: disc outside;
}

ul ul {
	margin: .25em 0 .5em 1em;
}

ol {
	list-style: decimal outside;
}

ol ol {
	margin: .25em 0 .5em 1.5em;
	list-style-type: lower-roman;
}

dl {
	margin-left: 0;
}

dt {
	margin: 0 0 .5em 0;
	font-weight: bold;
}

dd {
	margin: 0 0 .5em 0;
}

sup,
sub {
	position: relative;
	vertical-align: baseline;
	font-size: 75%;
	line-height: 0;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}

ins {
	background-color: #FFFB88;
}

del {
	text-decoration: line-through;
}

s {
	color: gray;
	text-decoration: line-through;
}

mark {
	background-color: #FFFB88;
	color: inherit;
	font-weight: normal;
}

small {
	font-weight: normal;
	font-style: normal;
}

strong,
b {
	font-weight: bold;
}

em,
i {
	font-style: italic;
}

dfn,
abbr {
	position: relative;
	font-style: inherit;
}

a {
	color: #0072bc;
	text-decoration: underline;
}

a:hover {
	color: #0091ef;
	text-decoration: none;
}

a[href^="tel"] {
	color: inherit;
}

:focus {
	outline: none;
}

::-moz-selection {
	color: #fff;
	background: #0072bc;
}

::selection {
	color: #fff;
	background: #0072bc;
}

::-webkit-selection {
	color: #fff;
	background: #0072bc;
}

::-moz-selection {
	color: #fff;
	background: #0072bc;
}

::-ms-selection {
	color: #fff;
	background: #0072bc;
}

form {
	position: relative;
	margin: 0 0 1em 0;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

legend {
	margin: 0 0 .5em 0;
	padding: 0;
	font-size: 1;
}

label {
	display: inline-block;
	margin: 0 0 .25em 0;
}

input,
textarea,
select {
	display: block;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	color: #333;
}

input,
textarea {
	padding: 10px 15px;
	border: 1px solid gray;
	border-radius: 0;
}

input:not([type="radio"]):not([type="checkbox"]):not([type="range"]),
textarea {
	-webkit-appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline-block;
	width: auto;
	float: left;
	border: none;
	margin: .25em .5em 0 0;
}

input[type="file"] {
	padding: 0;
	border: none;
}

input[type="date"] {
	padding-right: 0;
}

button,
input[type="submit"] {
	padding: .5em;
	cursor: pointer;
}

::-webkit-input-placeholder {
	color: #0072bc;
}

:-moz-placeholder {
	color: #0072bc;
	opacity: 1;
}

::-moz-placeholder {
	color: #0072bc;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #0072bc;
}

img {
	display: block;
	width: auto;
	max-width: 100%;
	border: 0;
	margin: 0 0 1em 0;
}

img[src*="maps.gstatic.com"] {
	max-width: none;
}

figure {
	display: block;
	margin: 0 0 1em 0;
	padding: 0;
}

figure img {
	margin-bottom: 0;
}

figcaption {
	margin-top: .5em;
	font-style: italic;
}

table {
	width: 100%;
	margin: 0 0 1em 0;
	border: 1px solid #333;
}

table,
th,
td {
	border-collapse: collapse;
}

th,
td {
	padding: .5em;
	border: 1px dotted #333;
	border-top: none;
	border-right: none;
	text-align: left;
}

thead th {
	border-bottom: 2px solid #333;
}

tfoot td {
	border-bottom: none;
	font-size: .85em;
	font-style: italic;
}

.challenges {
	position: relative;
	padding: 4rem 0;
	background-color: #fddcce;
}

.challenges:before {
	content: ' ';
	display: block;
	width: 0;
	height: 0;
	border: 2rem solid transparent;
	border-top-color: #c41d4a;
	position: absolute;
	top: 0;
	left: 50%;
}

.challenges-inner {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-content: space-between;
	-ms-flex-line-pack: justify;
	align-content: space-between;
	width: 100%;
}

.challenges .section-header {
	padding-right: 2rem;
	padding-left: 2rem;
	color: #c41d4a;
}

.challengecard {
	-webkit-flex: 1 1 40rem;
	-ms-flex: 1 1 40rem;
	flex: 1 1 40rem;
	padding: 2rem;
}

.challengecard-inner {
	margin: auto;
}

.challengecard-author {
	position: relative;
	padding-bottom: 2rem;
	padding-right: 2rem;
	text-align: right;
}

.challengecard-author:after {
	content: ' ';
	display: block;
	width: 0;
	height: 0;
	border: 1rem solid transparent;
	border-bottom-color: #fddcce;
	position: absolute;
	bottom: 0;
	right: 4rem;
}

.challengecard-author>* {
	display: inline-block;
	vertical-align: middle;
}

.challengecard-author p {
	margin: 0;
	max-width: calc(100% - 8rem);
}

.challengecard-author-avatar {
	width: 6rem;
	height: 6rem;
	margin: 0 0 0 1rem;
	border: .2rem solid;
	border-radius: 1rem;
}

.challengecard-content {
	padding: 2rem;
	border-radius: 1rem;
	overflow: hidden;
}

.challengecard-title {
	font-size: 1.5em;
	margin: 0 0 .5em;
	color: #fddcce;
}

.challengecard-footer {
	padding-top: 2rem;
}

.challengecard-cta {
	padding: 1rem 2rem;
	border-radius: .5rem;
	background: #fddcce;
	text-decoration: none;
}

.challengecard:nth-child(4n+0) .challengecard-title {
	margin: -2rem -2rem 2rem;
	padding: 2rem;
	background: #001523;
}

.challengecard:nth-child(4n+0) .challengecard-author:after {
	border-bottom-color: #001523;
}

.challengecard:nth-child(4n+0) .challengecard-author-avatar {
	border-color: #0072bc;
}

.challengecard:nth-child(4n+0) .challengecard-content {
	background-color: #0072bc;
	color: #001523;
	box-shadow: 0 0 0 0.1rem #001523,0 0.4rem 0 0 #001523;
}

.challengecard:nth-child(4n+0) .challengecard-cta {
	background-color: #001523;
	color: #0072bc;
}

.challengecard:nth-child(4n+1) .challengecard-title {
	margin: -2rem -2rem 2rem;
	padding: 2rem;
	background: #3f0918;
}

.challengecard:nth-child(4n+1) .challengecard-author:after {
	border-bottom-color: #3f0918;
}

.challengecard:nth-child(4n+1) .challengecard-author-avatar {
	border-color: #c41d4a;
}

.challengecard:nth-child(4n+1) .challengecard-content {
	background-color: #c41d4a;
	color: #3f0918;
	box-shadow: 0 0 0 0.1rem #3f0918,0 0.4rem 0 0 #3f0918;
}

.challengecard:nth-child(4n+1) .challengecard-cta {
	background-color: #3f0918;
	color: #c41d4a;
}

.challengecard:nth-child(4n+2) .challengecard-title {
	margin: -2rem -2rem 2rem;
	padding: 2rem;
	background: #906a00;
}

.challengecard:nth-child(4n+2) .challengecard-author:after {
	border-bottom-color: #906a00;
}

.challengecard:nth-child(4n+2) .challengecard-author-avatar {
	border-color: #ffc72a;
}

.challengecard:nth-child(4n+2) .challengecard-content {
	background-color: #ffc72a;
	color: #906a00;
	box-shadow: 0 0 0 0.1rem #906a00,0 0.4rem 0 0 #906a00;
}

.challengecard:nth-child(4n+2) .challengecard-cta {
	background-color: #906a00;
	color: #ffc72a;
}

.challengecard:nth-child(4n+3) .challengecard-title {
	margin: -2rem -2rem 2rem;
	padding: 2rem;
	background: #20571b;
}

.challengecard:nth-child(4n+3) .challengecard-author:after {
	border-bottom-color: #20571b;
}

.challengecard:nth-child(4n+3) .challengecard-author-avatar {
	border-color: #50C546;
}

.challengecard:nth-child(4n+3) .challengecard-content {
	background-color: #50C546;
	color: #20571b;
	box-shadow: 0 0 0 0.1rem #20571b,0 0.4rem 0 0 #20571b;
}

.challengecard:nth-child(4n+3) .challengecard-cta {
	background-color: #20571b;
	color: #50C546;
}

.challengecard:hover .challengecard-author-avatar {
	-webkit-animation: shake .1s infinite;
	animation: shake .1s infinite;
}

head {
	font-family: '{""grain"": "(min-width:12.5em)",""pebble"": "(min-width:18.75em)",""mountain"": "(min-width:50em)",""eagleeyes"": "(min-device-pixel-ratio:2) and (min-resolution:192dpi)",""-webkit-eagleeyes"": "(-webkit-min-device-pixel-ratio:2) and (-webkit-min-resolution:192dpi)"}';
}

html {
	background: #c41d4a;
}

.layoutwrap {
	width: auto;
	max-width: 90%;
	margin: auto;
	padding-right: 2rem;
	padding-left: 2rem;
}

.page-header {
	background-color: #981639;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.page-header .layoutwrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-content: space-between;
	-ms-flex-line-pack: justify;
	align-content: space-between;
}

.site-logo {
	width: 10rem;
	height: 10rem;
	background: url("../images/logo.png") no-repeat center center/contain;
	text-indent: 110%;
	white-space: nowrap;
	overflow: hidden;
}

.site-nav {
	-webkit-flex: 1 1;
	-ms-flex: 1 1;
	flex: 1 1;
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	text-align: right;
}

.site-nav ul {
	display: inline-block;
}

.site-nav li {
	font-size: 1.2em;
	display: inline-block;
	vertical-align: middle;
	margin-left: 1em;
}

.site-nav a {
	display: inline-block;
	padding: .5em 1em;
	border-radius: .5rem;
	color: #fddcce;
	background-color: #c41d4a;
	text-decoration: none;
}

.filter {
	position: relative;
	width: auto;
	max-width: 80rem;
	margin: auto;
	padding: 4rem 2rem;
	color: #fddcce;
}

.filter-form {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-content: space-between;
	-ms-flex-line-pack: justify;
	align-content: space-between;
	width: 100%;
}

.filter-form>* {
	margin: auto;
}

.filter-label {
	font-size: 1.5em;
	margin-bottom: 0;
	padding: 1rem;
	font-weight: bold;
}

.filter-label[for='filter-time'] {
	display: inline-block;
	vertical-align: top;
}

.filter-label[for='filter-time']+input {
	display: inline-block;
	width: 15rem;
}

.filter-group {
	display: inline-block;
}

.filter-break {
	padding: 1rem;
	text-align: center;
}

.filter-break .filter-label {
	font-weight: normal;
	font-style: italic;
}

.filter-section--select-skill {
	position: relative;
	display: none;
}

.filter-section--select-skill:before {
	width: 3rem;
	height: 3rem;
	content: ' ';
	position: absolute;
	top: 4rem;
	right: 3rem;
	display: block;
	background: url("../icons/arrow-keyline-down.svg") no-repeat center center/contain;
}

.filter-section--select-skill select {
	font-size: 1.5em;
	margin: 0;
	padding: 2rem;
	border: 0.2rem solid #ae1a42;
	-webkit-appearance: none;
	background: #fddcce;
	color: #c41d4a;
	font-weight: bold;
}

.filter-section--select-skill.state--active {
	display: block;
}

.filter-tab {
	display: inline-block;
}

.filter-tab input {
	display: none;
}

.filter-tab label {
	border-radius: .5rem;
	color: #fddcce;
}

.filter-tab input:checked+label,
.filter-tab input[selected]+label {
	background: #fddcce;
	color: #c41d4a;
}

.section-header {
	font-size: 2em;
	margin: 0 0 2rem;
	text-align: center;
}

.ie8-message {
	background-color: #FFE04E;
}

.ie8-message-inner {
	width: 100%;
	max-width: 1000px;
	margin: auto;
	padding: 20px;
}

.ie8-message-inner>* {
	color: #333;
}

.ie8-message-header {
	margin-top: 0;
}

.ie8-message p {
	margin-bottom: 0;
}

@-webkit-keyframes shake {

from {
	-webkit-transform: rotate(5deg);
	transform: rotate(5deg);
}

to {
	-webkit-transform: rotate(-5deg);
	transform: rotate(-5deg);
}

}

@keyframes shake {

from {
	-webkit-transform: rotate(5deg);
	transform: rotate(5deg);
}

to {
	-webkit-transform: rotate(-5deg);
	transform: rotate(-5deg);
}

}

