/**
 * Shame file
 * Add quick changes here, to be incorperated properly at a later point
 */

.filter{
    position: relative;
    width: auto;
    max-width: 80rem;
    margin: auto;
    padding: 4rem 2rem;
    color: color('bubble');
    &-form{
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        width: 100%;
        > *{
            margin: auto;
        }
    }
    &-label{
        @include font('emphasized');
        margin-bottom: 0;
        padding: 1rem;
        font-weight: bold;
        &[for='filter-time']{
            display: inline-block;
            vertical-align: top;
            + input{
                display: inline-block;
                width: 15rem;
            }
        }
    }
    &-group{
        display: inline-block;
    }
    &-break{
        padding: 1rem;
        text-align: center;
        .filter-label{
            font-weight: normal;
            font-style: italic;
        }
    }
    &-section{
        &--select-skill{
            position: relative;
            display: none;
            &:before{
                @include setsize(3rem);
                content:' ';
                position: absolute;
                top: 4rem;
                right: 3rem;
                display: block;
                background: url('../icons/arrow-keyline-down.svg') no-repeat center center/contain;
            }
            select{
                @include font('emphasized');
                margin: 0;
                padding: 2rem;
                border: .2rem solid darken($plum,5%);
                -webkit-appearance: none;
                background: color('bubble');
                color: $plum;
                font-weight: bold;
            }
            &.state--active{
                display: block;
            }
        }
    }
    &-tab{
        display: inline-block;
        input{
            display: none;
        }
        label{
            border-radius: .5rem;
            color: color('bubble');
        }
        input:checked + label,
        input[selected] + label{
            background: color('bubble');
            color: $plum;
        }
    }
}

.section-header{
    @include font('large');
    margin: 0 0 2rem;
    text-align: center;
}
